<div class="tab-pane fade show" id="transit" role="tabpanel" aria-labelledby="transit-tab">
    <div class="card-body">
        <div class="row g-2">

            <!-- compress_requests -->
            <div>
                {% set error_helper %}
                    {% if inputfields.compress_requests.errors == true %}
                        <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.compress_requests.errors }}</div>
                    {% endif %}
                {% endset %}
                {{ fields.sliderField(
                    inputfields.compress_requests.field,
                    inputfields.compress_requests.value,
                    inputfields.compress_requests.formtitle,
                    {
                        'add_field_html': error_helper,
                        helper: inputfields.compress_requests.formexplain,
                    }
                ) }}
            </div>

            <!-- compress_responses -->
            <div>
                {% set error_helper %}
                    {% if inputfields.compress_responses.errors == true %}
                        <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.compress_responses.errors }}</div>
                    {% endif %}
                {% endset %}
                {{ fields.sliderField(
                    inputfields.compress_responses.field,
                    inputfields.compress_responses.value,
                    inputfields.compress_responses.formtitle,
                    {
                        'add_field_html': error_helper,
                        helper: inputfields.compress_responses.formexplain,
                    }
                ) }}
            </div>
            
            <!-- Proxied -->
            <div>
                {% set error_helper %}
                    {% if inputfields.proxied.errors == true %}
                        <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.proxied.errors }}</div>
                    {% endif %}
                    {% if inputfields.proxied.value == true %}
                        {% if inputfields.strict.value == true %}
                            <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">⚠️ Make sure the proxy scheme matches the server scheme.<br>(<b>https</b>://external)=>(<b>https</b>://internal)</div>
                        {% endif %}
                    {% endif %}
                {% endset %}
                {{ fields.sliderField(
                    inputfields.proxied.field,
                    inputfields.proxied.value,
                    inputfields.proxied.formtitle,
                    {
                        'add_field_html': error_helper,
                        helper: inputfields.proxied.formexplain,
                    }
                ) }}
            </div>

            <!-- validate_xml -->
            <div>
                {% set error_helper %}
                    {% if inputfields.validate_xml.errors == true %}
                        <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.validate_xml.errors }}</div>
                    {% endif %}
                    {% if inputfields.strict.value == false %}
                        <div id="textHelper" class="form-text" style="color:rgb(180, 120, 8);">⚠️ Strict is disabled, validate xml setting will not do anything.</div>
                    {% endif %}
                {% endset %}
                {{ fields.sliderField(
                    inputfields.validate_xml.field,
                    inputfields.validate_xml.value,
                    inputfields.validate_xml.formtitle,
                    {
                        'add_field_html': error_helper,
                        helper: inputfields.validate_xml.formexplain,
                    }
                ) }}
            </div>

            <!-- validate_destination -->
            <div>
                {% set error_helper %}
                    {% if inputfields.validate_destination.errors == true %}
                        <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.validate_destination.errors }}</div>
                    {% endif %}
                {% endset %}
                {{ fields.sliderField(
                    inputfields.validate_destination.field,
                    inputfields.validate_destination.value,
                    inputfields.validate_destination.formtitle,
                    {
                        'add_field_html': error_helper,
                        helper: inputfields.validate_destination.formexplain,
                    }
                ) }}
            </div>

            <!-- lowercase_url_encoding -->
            <div>
                {% set error_helper %}
                    {% if inputfields.lowercase_url_encoding.errors == true %}
                        <div id="textHelper" class="form-text" style="color:red;">{{ inputfields.lowercase_url_encoding.errors }}</div>
                    {% endif %}
                {% endset %}
                {{ fields.sliderField(
                    inputfields.lowercase_url_encoding.field,
                    inputfields.lowercase_url_encoding.value,
                    inputfields.lowercase_url_encoding.formtitle,
                    {
                        'add_field_html': error_helper,
                        helper: inputfields.lowercase_url_encoding.formexplain,
                    }
                ) }}
            </div>

        </div>
    </div>
</div>