<!-- implemented in ConfigForm->generateForm() -->
<!-- https://codeberg.org/QuinQuies/glpisaml/issues/13 -->
{% import glpi_tpl_macro as fields %}

<script>
    // Remember tab state
    $(function() {
        $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
            localStorage.setItem('lastTab', $(this).attr('href'));
        });
        var lastTab = localStorage.getItem('lastTab');
        
        if (lastTab) {
            $('[href="' + lastTab + '"]').tab('show');
        }
    });
    // Clipboard function
    function copyClip(key) {
        // Get the text field
        var copyText = document.getElementById(key);
        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices
        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        // Alert the copied text
        alert("Succesfully copied the value: " + copyText.value + " to your clipboard.");
    }
</script>

<form name="form" method="post" action="{{ glpi_rootdoc }}" id="phpsaml_config">
<div class="phpsaml_config_wrapper" id="samlForm">
    <input type="hidden" name="{{ inputfields.id.field }}" value="{{ inputfields.id.value }}">

    <div class="card" style="min-height:100%;">
        <!-- Input fields -->
        <ul class="nav nav-tabs" id="samlTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" 
                   id="general-tab" 
                   data-bs-toggle="tab" 
                   href="#general" 
                   data-bs-target="#general" 
                   type="button" role="tab" 
                   aria-controls="general" 
                   aria-selected="true"><b>{{ __("General") }} {{ general_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="general-tab" 
                   data-bs-toggle="tab" 
                   href="#transit" 
                   data-bs-target="#transit" 
                   type="button" 
                   role="tab" 
                   aria-controls="transit" 
                   aria-selected="true"><b>{{ __('Transit', plugin) }} {{ header_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="provider-tab" 
                   data-bs-toggle="tab" 
                   href="#provider" 
                   data-bs-target="#provider" 
                   type="button" 
                   role="tab" 
                   aria-controls="provider" 
                   aria-selected="false"><b>{{ __('Service provider', plugin) }} {{ provider_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="idp-tab" 
                   data-bs-toggle="tab" 
                   href="#idp" 
                   data-bs-target="#idp" 
                   type="button" 
                   role="tab" 
                   aria-controls="idp" 
                   aria-selected="false"><b>{{ __('Identity provider', plugin) }} {{ idp_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="security-tab" 
                   data-bs-toggle="tab" 
                   href="#security" 
                   data-bs-target="#security" 
                   type="button" 
                   role="tab" 
                   aria-controls="security" 
                   aria-selected="false"><b>{{ __('Security') }} {{ security_warning }}</b></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" 
                   id="logging-tab" 
                   data-bs-toggle="tab" 
                   href="#logging" 
                   data-bs-target="#logging" 
                   type="button" 
                   role="tab" 
                   aria-controls="logging" 
                   aria-selected="false"><b>{{ __('Log') }} {{ logging_warning }}</b></a>
            </li>
        </ul>
        <div class="tab-content flex-fill glpisaml" id="myTabContent">
            <!-- Include General tab -->
            {{ include('@samlsso/configForm/configGeneral.html.twig', {
                'inputfields': inputfields}, with_context = false) }}

            <!-- transit tab -->
            {{ include('@samlsso/configForm/configTransit.html.twig') }}
            
            <!-- SP tab -->
            {{ include('@samlsso/configForm/configServiceProvider.html.twig') }}
            
            <!-- IDP tab -->
            {{ include('@samlsso/configForm/configIdentityProvider.html.twig') }}

            <!-- Security tab -->
            {{ include('@samlsso/configForm/configSecurity.html.twig') }}

            <!-- Security tab -->
            {{ include('@samlsso/configForm/configLogging.html.twig') }}
        </div>
    </div>
    <div class="card itil-footer" style="margin-top:10px;">
        <div class="form-buttons col-lg d-flex ms-auto ms-lg-0 flex-row-reverse p-1 ">
            <div class="m-1">
                <button class="btn btn-primary " type="submit" name="update" title="Save">
                    <i class="far fa-save"></i>
                    <span class="d-none d-xl-block">{{ __("Save") }}</span>
                    </button>
            </div>
            <div class="m-1">
                <button class="btn btn-ghost-danger" type="submit" name="delete" title="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Put in trashbin">
                    <i class="ti ti-trash"></i>
                    <span class="d-none d-xl-block">{{ __("Delete") }}</span>
                    </button>
            </div>
            {% if inputfields.debug.value == true %}
            <div class="m-1 align-middle text-muted pull-left pt-2">
                ⚠️ Warning SP metadata exposed! - ROWID: {{ inputfields.id.value }} | CREATED DATE: {{ inputfields.date_creation.value }} | LAST UPDATED: {{ inputfields.date_mod.value }}
            {% endif %}
        </div>
    </div>
</div>
{{ close_form|raw }}
